html, body, #root {
  width: 100%; height: 100%;
  box-sizing: border-box;
}

#bodyContainer {
  box-sizing: inherit;
  display: block;
  position: absolute; top: 0px; left: 300px;
  width: calc(100% - 300px); height: inherit;
  background-color: #a03;
  overflow: auto;
}
