/* CONTAINS CSS FOR THE CONTROL PANEL THAT */
/* IS *NOT* SPECIFIC TO ANY GIVEN PAGE */

#controlsContainer {
    box-sizing: inherit;
    position: absolute; top: 0px; left: 0px;
    width: 300px; height: 100%;
    background-color: #ffffff;
    border-right: 1px solid rgb(233, 187, 187);
    /* box-shadow: 4px 0px 4px rgb(216, 216, 216); */
}
  
#navContainer {
    box-sizing: inherit;
    display: block;
    width: inherit; height: 300px;
    position: absolute;
    top: 0px;
    background-color: rgb(240, 214, 221);
    border-right: 1px solid rgb(233, 187, 187);
}

#controlsContent {
    margin-top: 310px
}

#userControlsBar {
    box-sizing: inherit;
    display: block;
    width: inherit; height: 50px;
    position: absolute;
    bottom: 0px; left: 0px;
    background-color: rgb(240, 214, 221);
    border-right: 1px solid rgb(233, 187, 187);
}

.pageLinksBar {
    width: inherit; height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    user-select: none;
}

.pageLinksBar a {
    color: #000;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.pageLinksBar a:hover {
    color: #f87;
    cursor: crosshair;
}

.monthWidget {
    box-sizing: inherit;
    width: inherit; height: 250px;
    background-color: #fff;
    text-align: center;
    user-select: none;
}

.monthWidget a, .monthWidget a:visited {
    color: rgb(138, 152, 255);
    font-weight: bold;
    text-decoration: none;
}

.monthWidget a:hover {
    cursor: crosshair;
}

.monthWidget table {
    border-collapse: collapse;
    margin: 10px auto;
    border: 2px solid rgb(231, 188, 220);
}

.monthWidget th, .monthWidget td {
    width: 30px; height: 20px;
    border: 1px solid rgb(231, 188, 220);
    text-align: center;
}

.monthWidget th {
    border-bottom: 2px solid rgb(231, 188, 220);
}

.monthWidgetHeader {
    box-sizing: inherit;
    width: 230px;
    margin: auto; padding-top: 10px;
}

.monthWidgetHeader span {
    display: inline-block;
    min-width: 60px;
}

.monthWidgetHeader .back { 
    float: left; 
    text-align: left;
    width: 50px;
    cursor: crosshair;
    font-size: 10px;
    line-height: 30px;
    text-transform: uppercase;
}
.monthWidgetHeader .next { 
    float: right; 
    text-align: right;
    width: 50px; 
    cursor: crosshair;
    font-size: 10px;
    line-height: 30px;
    text-transform: uppercase;
}
.monthWidgetHeader .current {
    font-family: 'Playball';
    font-size: 22px;
    width: 90px; 
}
.monthWidgetHeader .disabled { color: #fff; user-select: none;}
.selectedDayHighlight { 
    background-color: rgb(230, 233, 255);
    border: 2px solid rgb(230, 233, 255);
}
.nonselectedDay { 
    background-color: none;
    border: 2px solid #FFF 
}
.currentDay { border: 2px solid rgb(164, 178, 255)}
.noJournalEntry { 
    background-color: rgb(231, 231, 231); 
    border: 2px solid rgb(231, 231, 231);
}
.futureDate { border: 2px solid #fff }

.selectedDayHighlight, .nonselectedDay, .currentDay, .noJournalEntry, .futureDate {
    font-size: 12px;
    line-height: 20px;
}
