#listForm {
    box-sizing: border-box;
    margin: 15px 25px 10px;
}

/* .listFormLabel {
    padding-left: 25px;
} */

.selectListDropdown {
    box-sizing: border-box;
    width: 250px;
    margin-bottom: 10px;
}

.listFormBackButtonContainer {
    box-sizing: border-box;
    width: 250px;
    margin: 10px 25px 0px;
    text-align: right;
  }

.listFormSubText {
    margin-top: 10px;
    font-size: 13px;
}

.listFormNameInput {
    box-sizing: border-box;
    width: 250px;
}

.listFormTextArea {
    box-sizing: border-box;
    width: 250px; height: 150px;
    /* margin-top: 10px; */
}

.listDeleteButton {
    box-sizing: border-box;
    margin-left: 25px
}

.checklistCheckbox {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
}