.habitTable {
    width: 300px; height: 300px;
}



/* COLOR PALETTE */
.paletteSelector {
    display: block;
    width: 235px;
    margin: auto;
}

.paletteBox {
    display: block;
    width: 245px;
    margin: 10px auto;
}

.paletteSquare {
    box-sizing: border-box;
    display: inline-block;
    width: 25px; height: 25px;
    margin: 5px;
    border: 1px solid #000;
}