.habitTable {
    box-sizing: border-box;
    width: 100%; height: auto;
    padding: 10px; margin-bottom: 10px;
    border: 2px solid rgb(233, 187, 187);
}

.habitLine {
    box-sizing: border-box;
    width: inherit;
    height: 30px;
    margin-bottom: 2px;
    box-shadow: 2px 2px 4px rgb(221, 221, 221);
}

.habitName {
    box-sizing: border-box;
    float: left;
    width: 150px; height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 10px;
}

.habitDayContainer {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column; 
    width: calc(100% - 150px); height: 30px;
}

.habitDay {
    box-sizing: border-box;
    border-left: 1px solid #e7e7e7;
    margin: 2px 0px 0px;
    font-size: 8px;
    overflow: hidden;
    text-align: center;
}

.datesLine {
    box-sizing: border-box;
    width: inherit;
    height: 26px;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 30px;
}

.dayDatesContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    border-bottom: 1px solid #e7e7e7
}

.dayDateSquare {
    box-sizing: border-box;
    border-left: 1px solid #e7e7e7;
    padding: 2px 0px 4px;
    line-height: 10px;
    font-size: 9px;
    overflow: hidden;
    text-align: center;
    height: 100%;
}

.addLineForm {
    display: flex;
    align-items: center;
    font-family: "Sen"
}

input.lineTitle {
    font-size: 9px;
    width: 150px; height: 11px;
    letter-spacing: 1px;
    font-family: 'Sen';
}

input.addHabitLineButton {
    margin: 7px 3px 7px 10px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgb(233, 187, 187);
    background-color: #fff;
    box-shadow: #c2c2c2 1px 1px 2px;
    border-radius: 3px;
    transition: ease-in-out all .25s;
}

input.addHabitLineButton:hover {
    box-shadow: none;
}

.tableTitleBox {
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    font-family: "Playball";
    font-size: 25px;
}



/* COLOR PALETTE */
.paletteSelector {
    display: block;
    width: 235px;
    margin: auto;
}

.paletteBox {
    display: block;
    width: 245px;
    margin: 10px auto;
}

.paletteSquare {
    box-sizing: border-box;
    display: inline-block;
    width: 25px; height: 25px;
    margin: 5px;
    border: 1px solid #000;
}